@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Press+Start+2P&family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:ital,wght@0,300;0,500;1,300;1,700&display=swap'); */ */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    
}

.container {
    width: 450px;
    height: 95vh;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(#6853df,#ae43ce);
    color: white;
}

#logo img{
    
    width: 150px;
    height: auto;
    margin-left: 90px;
    margin-top: 20px;
    
}

#logo h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 23pt;
}


.input-field { 
    display: flex;
    flex-direction: column;
    width: 360px;
    height:80px;
    
}

.input-field .field {
    display: block;
    padding: 18px;
    justify-content: center;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(204, 204, 204, 0.507);
    border-top: 2px solid transparent;
    background-color: transparent;
    color: white;
    font-size: 14pt;
    text-indent: 12px;
}

.input-field ::placeholder {
    color: white;
    font-weight:lighter;
    font-size: 11pt;
}

.input-field i {
    position: absolute;
    padding-top: 20px;
    margin-right: 15px;
    font-size: 15pt;
}

.checkbox { 
    padding: 20px;
    padding-left: 1px;
    
}

label {
    font-size: small;
    margin-left: 3px;
}

button {
    padding: 15px;
    margin: 20px;
    
    width: 120px;
    border-radius: 25px;
    border: 1px solid white;
    font-weight: bold;
    cursor: pointer;
    color: rgb(132, 97, 155);
    letter-spacing: 1px;
}

button:hover {
    background: linear-gradient(#6853df,#ae43ce);
    color: white;
    transition: ease-in 0.3s;
    
}
.button p {
    margin-top: 35px;
    margin-left: 25px;
    font-weight: lighter;
    font-size: 10pt;
    cursor: pointer;
    
}











